In [1]:
import pandas as pd
df_mun = pd.read_csv("E:/GitHub/UFU_MAPPERS/microdados/dados/microdados_uberlandia.csv", delimiter = ';', encoding = 'iso-8859-1', low_memory=False)

In [2]:
df_mun['CO_ENTIDADE'].count()

447

In [3]:
df_mun['TP_DEPENDENCIA'].value_counts()

4    229
3    142
2     72
1      4
Name: TP_DEPENDENCIA, dtype: int64

In [4]:
df_mun['TP_SITUACAO_FUNCIONAMENTO'].value_counts()

1    347
2     91
3      9
Name: TP_SITUACAO_FUNCIONAMENTO, dtype: int64

In [5]:
df_mun['IN_BAS'].value_counts()

1.0    339
Name: IN_BAS, dtype: int64

In [8]:
colunas = ['QT_MAT_BAS', 'QT_MAT_PROF', 'QT_MAT_PROF_TEC', 'QT_MAT_EJA']

In [9]:
df_mun[colunas] = df_mun[colunas].fillna(0)

In [10]:
print(df_mun['QT_MAT_BAS'])

0      362.0
1      723.0
2      650.0
3      427.0
4      340.0
       ...
442    151.0
443    421.0
444      0.0
445      0.0
446      0.0
Name: QT_MAT_BAS, Length: 447, dtype: float64

In [11]:
df_mun.groupby('CO_ENTIDADE')[colunas].sum()

             QT_MAT_BAS  QT_MAT_PROF  QT_MAT_PROF_TEC  QT_MAT_EJA
CO_ENTIDADE
31009107          362.0        362.0            362.0         0.0
31166545          723.0         15.0              0.0        22.0
31166553          650.0        650.0            650.0         0.0
31166561          427.0        427.0            427.0         0.0
31167215          340.0          0.0              0.0         0.0
...                 ...          ...              ...         ...
31380180          151.0          0.0              0.0         0.0
31380210          421.0          0.0              0.0         0.0
31380415            0.0          0.0              0.0         0.0
31381004            0.0          0.0              0.0         0.0
31381128            0.0          0.0              0.0         0.0

[447 rows x 4 columns]

In [12]:
print(df_mun['QT_MAT_BAS'])

0      362.0
1      723.0
2      650.0
3      427.0
4      340.0
       ...
442    151.0
443    421.0
444      0.0
445      0.0
446      0.0
Name: QT_MAT_BAS, Length: 447, dtype: float64

In [19]:
df_mun['QT_ALUNOS_TOTAL'] = df_mun[colunas].sum(axis=1)

In [20]:
print(df_mun['QT_ALUNOS_TOTAL'])

0      1086.0
1       760.0
2      1950.0
3      1281.0
4       340.0
        ...
442     151.0
443     421.0
444       0.0
445       0.0
446       0.0
Name: QT_ALUNOS_TOTAL, Length: 447, dtype: float64

In [23]:
df_mun.loc[df_mun['CO_ENTIDADE'] == 31166545]['QT_ALUNOS_TOTAL']

1    760.0
Name: QT_ALUNOS_TOTAL, dtype: float64

In [24]:
 df_mun.to_csv("E:/GitHub/UFU_MAPPERS/microdados/dados/microdados_uberlandia_parte_2.csv", sep=';', encoding='iso-8859-1', index=False)